
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    display: block;}

body {
    line-height: 1
}

ol,ul {
    list-style: none;}

blockquote,q {
    quotes: none;}

blockquote:before,blockquote:after,q:before,q:after {
    content: "";
    content: none;}

table {
    border-collapse: collapse;
    border-spacing: 0;}

.home_featured_btn_text,.home_hero_arrow,.home_hero_circle2,.home_hero_circle {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);}

*,*:before,*:after {
    box-sizing: border-box;}

html {
    font-size: .6944444444vw;
    line-height: 1;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
    user-select: none;}

body {
    height: 100%;
    width: 100%;
    touch-action: none;
    background-color: #000;
    color: #fff;
    font-family: "PP Telegraf";
    letter-spacing: -0.07rem;
    text-transform: uppercase;
    cursor: none;}

#gl {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 0;
    left: 0;
    pointer-events: none;}

.app {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;}

a {
    text-decoration: none;
    color: inherit;
    cursor: none;}

.m-bg {
    display: none;}

.it_bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: -2
}

.preloader {
    z-index: 5000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;}

.preloader span {
    opacity: 0;}

.preloader p {
    position: fixed;
    right: 5rem;
    bottom: 5rem;
    font-size: 10rem;
    color: #000;
    font-weight: 500;
    overflow: hidden;}

.preloader p span {
    display: inline-block;}

.preloader .preloader_bg {
    width: 100%;
    height: 100%;
    background-color: #fff
}

.preloader_fl_c {
    height: 9rem;
    line-height: 8.5rem;
    display: flex;
    position: fixed;
    top: calc(50% - 5rem);
    left: 20.7rem;
    color: #000;
    font-size: 12rem;
    letter-spacing: -0.5rem;
    font-weight: 500;
    overflow: hidden;}

.preloader_fl_c span {
    display: block;}

.preloader_ll_c {
    height: 9rem;
    line-height: 8.5rem;
    display: flex;
    position: fixed;
    top: calc(50% - 5rem);
    right: 17.7rem;
    color: #000;
    font-size: 12rem;
    letter-spacing: -0.5rem;
    font-weight: 500;
    overflow: hidden;}

.preloader_ll_c span {
    display: block;
    width: auto
}

.yolo {
    display: inline-block;
    opacity: 0 !important;}

.preloader--v2 {
    transform: translateY(100%);}

.transB {
    width: 2.5rem;
    height: 1rem;
    visibility: hidden;}

.transB img {
    width: 100%;
    height: 100%;}

.noise {
    height: 1rem;
    width: 1rem;
    position: fixed;
    visibility: hidden;}

.imr {
    display: none;}

html.phone {
    font-size: 2.6666666667vw;
    position: relative;
    overflow: auto;
    overflow-x: hidden;
    overflow-y: hidden;}

html.phone body {
    overflow: visible;
    overflow-x: hidden;
    background-color: #000;}

html.phone .app {
    overflow-x: hidden;
    position: relative;
    transform: translateZ(0);}

html.phone .it_bg {
    display: none;}

html.phone .m-bg {
    display: block;
    position: fixed;
    top: -1%;
    left: -1%;
    width: 102%;
    height: 102%;
    object-fit: cover;
    z-index: -1;
    border: 1px solid gray;}

html.phone figure {
    position: relative;}

html.phone .img_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0f0f0f;
    z-index: 2;
    border-radius: 2rem;
    max-width: 33.5rem;
    display: none;}

html.phone .preloader {
    z-index: 10000000;}

html.phone .preloader p {
    font-size: 4rem;
    right: 2rem;
    bottom: 2rem;
    display: none;}

html.phone .preloader .preloader_fl_c,html.phone .preloader .preloader_ll_c {
    font-size: 4rem;
    letter-spacing: -0.25rem !important;
    line-height: 4rem;
    height: 4rem;
    top: calc(50% - 2rem);}

html.phone .preloader .preloader_fl_c {
    left: 2.2rem;
    width: 12rem;}

html.phone .preloader .preloader_ll_c {
    right: 1.5rem;}

html.phone .preloader .preloader_l--a {
    display: inline-block;
    transform: translateX(-0.5rem);}

html.phone .preloader .preloader_l--t {
    display: inline-block;
    transform: translateX(-1.15rem);}

html.phone .preloader .preloader_l--i {
    display: inline-block;
    transform: translateX(-1.2rem);}

html.phone .preloader .preloader_l--s {
    display: inline-block;
    transform: translateX(-1.5rem);}

html.phone .preloader .preloader_l--p {
    display: inline-block;
    transform: translateX(-1.5rem);}

html.phone .preloader .preloader_l--a1 {
    display: inline-block;
    transform: translateX(0.1rem);}

html.phone .imr {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #000;
    z-index: 10000000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .8rem;
    display: none;
    font-family: "PP Telegraf";
    font-weight: 500;
    letter-spacing: .02rem;}

@media screen and (orientation: landscape) {
    html.phone .imr {
        display:flex;    }
}

html.tablet {
    font-size: 1.3020833333vw;
    position: relative;
    overflow: auto;
    overflow-x: hidden;
    overflow-y: hidden;}

html.tablet .it_bg {
    display: none;}

html.tablet .img_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0f0f0f;
    z-index: 2;
    border-radius: 1.5rem;
    max-width: 70.8rem;
    display: none;}

html.tablet body {
    overflow: visible;
    overflow-x: hidden;
    background-color: #000;}

html.tablet .app {
    overflow-x: hidden;
    position: relative;
    transform: translateZ(0);}

html.tablet .m-bg {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1
}

html.tablet figure {
    position: relative;}

html.tablet img {
    visibility: visible;}

html.tablet .preloader {
    z-index: 10000000;}

html.tablet .preloader p {
    font-size: 4rem;
    right: 2rem;
    bottom: 2rem;
    display: none;}

html.tablet .preloader .preloader_fl_c,html.tablet .preloader .preloader_ll_c {
    font-size: 7.2rem;
    letter-spacing: -0.25rem !important;
    line-height: 5.8rem;
    height: 5.8rem;
    top: calc(50% - 2rem);}

html.tablet .preloader .preloader_fl_c {
    left: 6.9rem;
    width: 24rem;}

html.tablet .preloader .preloader_ll_c {
    right: 5.5rem;}

html.tablet .preloader .preloader_l--a {
    display: inline-block;
    transform: translateX(-0.5rem);}

html.tablet .preloader .preloader_l--t {
    display: inline-block;
    transform: translateX(-1.15rem);}

html.tablet .preloader .preloader_l--i {
    display: inline-block;
    transform: translateX(-1.2rem);}

html.tablet .preloader .preloader_l--s {
    display: inline-block;
    transform: translateX(-1.5rem);}

html.tablet .preloader .preloader_l--p {
    display: inline-block;
    transform: translateX(-1.5rem);}

html.tablet .preloader .preloader_l--a1 {
    display: inline-block;
    transform: translateX(0.1rem);}

html.tablet .imr {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #000;
    z-index: 10000000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .8rem;
    display: none;
    font-family: "PP Telegraf";
    font-weight: 500;
    letter-spacing: .02rem;}

@media screen and (orientation: landscape) {
    html.tablet .imr {
        display:flex;    }
}

.cursor {
    width: 1.7rem;
    height: 1.7rem;
    position: fixed;
    top: -0.83rem;
    left: -0.83rem;
    pointer-events: none;
    mix-blend-mode: difference;
    z-index: 100000;}

.cursor .cursor_left,.cursor .cursor_right,.cursor .cursor_top,.cursor .cursor_bottom {
    position: absolute;
    background-color: #fff
}

.cursor_left,.cursor_right {
    width: .5rem;
    height: .2rem;
    top: 50%;
    transform: translateY(-50%);}

.cursor_top,.cursor_bottom {
    height: .5rem;
    width: .2rem;
    left: 50%;
    transform: translateX(-50%);}

.cursor_right {
    right: 0;}

.cursor_left {
    left: 0;}

.cursor_top {
    top: 0;}

.cursor_bottom {
    bottom: 0;}

html.phone .cursor,html.tablet .cursor {
    display: none;}

.menu--touch {
    display: none;}

html.phone .menu--touch {
    display: block;
    height: 100%;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000;
    z-index: 100000;
    visibility: hidden;}

html.phone .menu--touch .menu_nav-touch {
    position: fixed;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: max-content;
    text-align: center
}

html.phone .menu--touch .menu_nav_items--touch {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 6rem;
    font-size: 1.8rem;
    line-height: 2.3rem;}

html.phone .menu--touch .menu_marquee--touch {
    position: relative;}

html.phone .menu--touch .menu_marquee--touch a {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1
}

html.phone .menu--touch .menu_nav_item--touch {
    transform: translateY(150%);
    border: 1px solid rgba(255,255,255,.3);
    height: 4rem;
    border-radius: 5rem;
    padding: .8rem 2.4rem;
    overflow: hidden;}

html.phone .menu--touch .menu_nav_item--touch .menu_nav_link--touch {
    display: inline-block;}

html.phone .menu--touch .menu_nav_item--touch a {
    overflow: hidden;
    height: 2.1rem;}

html.phone .menu--touch .menu_nav_item--touch a span {
    display: inline-block;}

html.phone .menu--touch .menu_marquee--touch {
    width: 27.3rem;
    height: 4rem;
    border: 1px solid rgba(255,255,255,.3);
    border-radius: 5rem;
    line-height: 5rem;
    overflow: hidden;
    flex-wrap: nowrap;
    white-space: nowrap;
    background-color: #000;
    z-index: 1000;
    position: fixed;
    bottom: 13rem;
    left: 50%;
    transform: translateX(-50%);}

html.phone .menu--touch .menu_marquee--touch span {
    font-size: 1.8rem;
    display: inline-block;
    transition: translate .5s ease;
    padding: 0 1rem;
    overflow: hidden;
    height: 2.1rem;}

html.phone .menu--touch .menu_marquee--touch span span {
    display: inline-block;}

html.phone .menu--touch .menu_marquee--touch .arrow_menu {
    transform: rotate(270deg) translate(-1.8rem, -1.3rem);}

html.phone .menu--touch .menu_marquee_text {
    font-size: 1.8rem;
    line-height: 2.3rem;
    display: inline-block;
    transition: translate .5s ease;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);}

html.phone .menu--touch .menu_marquee_footer--touch {
    height: 8rem;
    position: fixed;
    bottom: 0;
    left: 0;
    font-size: 1.8rem;}

html.phone .menu--touch .menu_marquee_footer_line--touch {
    position: absolute;
    top: 0;
    left: 2rem;
    height: 1px;
    width: 33.5rem;
    transform: scaleX(0);
    transform-origin: left;
    background-color: #fff;
    opacity: .3
}

html.phone .menu--touch .menu_footer_nav_items {
    width: 100%;
    padding: 0 2rem 0 2rem;
    display: flex;
    justify-content: space-between;
    gap: 8.6rem;
    font-size: 1.4rem;
    margin-top: 3.3rem;}

html.phone .menu--touch .menu_footer_nav_item {
    overflow: hidden;}

html.phone .menu--touch .menu_footer_nav_item a {
    display: inline-block;}

html.phone html.phone .menu_marquee--touch,html.phone html.tablet .menu_marquee--touch {
    line-height: 4.5rem;}

html.phone html.phone .menu_marquee--touch .arrow_menu,html.phone html.tablet .menu_marquee--touch .arrow_menu {
    transform: rotate(270deg) translate(-1.6rem, -1.3rem);
    width: 5rem;}

html.phone html.phone .menu--touch .menu_marquee--touch span,html.phone html.tablet .menu--touch .menu_marquee--touch span {
    padding: 0 .35rem;}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 9rem;
    padding: 0 5rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    mix-blend-mode: difference;
    transform: translateY(-100%);
    padding-top: 2.5rem;}

.header--touch {
    display: none;}

.header_logo {
    font-size: 4rem;
    letter-spacing: -0.15rem;}

.header_navigation_items {
    display: flex;
    transform: translateX(4.8rem);}

.header_navigation_item {
    margin-right: 3rem;
    font-size: 1.4rem;
    border: 1px solid rgba(255,255,255,0);
    border-radius: 5rem;
    padding: .6rem 1.6rem .5rem 1.6rem;
    position: relative;
    overflow: hidden;
    margin-left: -1.6rem;
    -webkit-mask-image: -webkit-radial-gradient(white, black);}

.cta_hover {
    width: 150%;
    height: 150%;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    left: -25%;
    top: -25%;
    transform: translateY(101%);
    transform-origin: top
}

.header_navigation_link {
    position: relative;
    overflow: hidden;
    display: inline-block;}

.header_navigation_link span {
    display: inline-block;}

.header_navigation_link .link_inner {
    position: absolute;
    left: 0;
    transform: translateY(100%);
    color: #000;}

.header_marquee {
    width: 20.7rem;
    height: 3rem;
    border: 1px solid rgba(255,255,255,.3);
    border-radius: 4rem;
    line-height: 2.8rem;
    overflow: hidden;
    flex-wrap: nowrap;
    white-space: nowrap;
    z-index: 1000;
    mix-blend-mode: difference;
    position: relative;}

.header_marquee a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1
}

.header_marquee .link_inner {
    display: inline-block;}

.header_marquee span {
    display: inline-block;}

.header_marquee .header_marquee_text {
    font-size: 1.4rem;
    display: inline-block;
    transition: translate .5s ease;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    overflow: hidden;
    line-height: 1.8rem;}

.marquee_svg {
    display: inline-block;
    transform: rotate(270deg) translate(-0.8rem, 0.5rem);
    height: 1.2rem;
    z-index: 1000;
    width: 1.3rem;}

html.phone .header {
    display: none;
    transition: 1s cubic-bezier(0.25, 1, 0.5, 1);}

html.phone .header--touch {
    display: block;
    width: 37.5rem;
    height: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    position: fixed;
    z-index: 1000000;
    mix-blend-mode: difference;
    transition: .8s cubic-bezier(0.25, 1, 0.5, 1);}

html.phone .header--touch .header--touch_wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center
}

html.phone .header_logo--touch {
    font-size: 4rem;
    line-height: 110%;}

html.phone .header_burger {
    width: 2.4rem;
    height: 1.8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: .7rem;
    margin-top: 1.7rem;}

html.phone .header_burger .header_burger_l1 {
    width: 100%;
    height: .2rem;
    background-color: #fff;
    align-self: flex-end;
    transform-origin: left;}

html.phone .header_burger .header_burger_l2 {
    width: 100%;
    height: .2rem;
    background-color: #fff
}

html.phone .header_burger .header_burger_l3 {
    width: 100%;
    height: .2rem;
    background-color: #fff;
    align-self: flex-start;
    transform-origin: right;}

html.tablet .header {
    transition: .8s cubic-bezier(0.25, 1, 0.5, 1);
    padding: 0 3rem;}

.home {
    padding-top: 9rem;
    visibility: hidden;}

.home_hero_title--touch {
    display: none;}

.home_hero_description--touch {
    display: none;}

.home_hero_c {
    width: 100%;
    min-height: calc(100vh - 9rem);
    position: relative;
    margin-bottom: 10rem;}

.home_hero_c .home_hero_arrow.innerArrow {
    opacity: 0;}

.home_hero_scroll {
    font-size: 1.4rem;
    position: absolute;
    top: 50%;
    left: 5rem;
    transform: translateY(-50%);
    height: 40rem;
    line-height: 2.98rem;}

.home_hero_scroll p {
    overflow: hidden;
    width: 20rem;}

.home_hero_scroll .home_hero_scroll_arrow {
    display: inline-block;
    opacity: 0;
    transform: translate(0.4rem, -1.4rem);}

.home_hero_scroll svg {
    height: 1.5rem;
    width: 1rem;}

.home_hero_scroll .home_hero_scroll_text {
    display: inline-flex;
    align-items: center;
    transform: translateY(100%);
    letter-spacing: -0.1rem;}

.home_hero_scroll .home_hero_scroll_text .scroll_hy {
    height: 1px;
    width: 1rem;
    background-color: #fff;
    margin: 0 .5rem;}

.home_hero_scroll--touch {
    display: none;}

.home_hero_description--tablet {
    display: none;}

.home_hero_title {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 40rem;
    transform: translate(-50%, -50%);
    line-height: 9rem;
    letter-spacing: -0.3rem;
    font-weight: 500;}

.home_hero_title .test {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 12rem;}

.home_hero_title .test span {
    display: inline-block;
    font-kerning: initial
}

.home_hero_title .test .ttl,.home_hero_title .test .tti {
    margin-left: -0.5rem;}

.home_hero_title .test .ttr {
    margin-left: -1.7rem;}

.home_hero_title .test .ddi,.home_hero_title .test .ddy,.home_hero_title .test .dss,.home_hero_title .test .dsg {
    margin-left: -0.7rem;}

.home_hero_title .test .dds,.home_hero_title .test .ddc,.home_hero_title .test .ddp,.home_hero_title .test .ddl,.home_hero_title .test .ddn,.home_hero_title .test .dda,.home_hero_title .test .ddr,.home_hero_title .test .dsi,.home_hero_title .test .dsn,.home_hero_title .test .dsr {
    margin-left: -0.4rem;}

.home_hero_title .test .ddib {
    margin-left: -0.1rem;}

.home_hero_title .test .dse {
    margin-left: -0.6rem;}

.home_hero_title .homeSp {
    height: 9.6rem;}

.home_hero_title .home_multi {
    transform: translateX(-11rem);}

.home_hero_title .home_creative {
    transform: translate(13rem);
    display: flex;}

.home_multi {
    position: relative;
    display: inline-block;
    width: 43rem;
    height: 10rem;
    overflow: hidden;}

.home_multi .home_multi_c,.home_multi .home_multi_c2 {
    position: absolute;
    left: 0;}

.home_multi .home_multi_c2 span {
    transform: translateY(101%);}

.home_creative {
    position: relative;
    display: inline-block;
    width: 95rem;
    margin-left: 4rem;
    height: 10rem;
    overflow: hidden;}

.home_creative .home_creative_c,.home_creative .home_creative_c2 {
    position: absolute;
    left: 0;}

.home_creative .home_creative_c2 span {
    transform: translateY(101%);}

.home_disciplinary {
    position: relative;
    width: 87rem;
    height: 10rem;
    display: inline-block;
    overflow: hidden;}

.home_disciplinary .home_disciplinary_c,.home_disciplinary .home_disciplinary_c2 {
    position: absolute;
    left: 0;}

.home_disciplinary .home_disciplinary_c2 span {
    transform: translateY(101%);}

.home_hero_description {
    font-size: 1.4rem;
    line-height: 1.4rem;
    letter-spacing: -0.07rem;
    position: absolute;
    left: 60rem;
    top: .8rem;
    width: 30rem;
    text-transform: uppercase;
    font-weight: 400;}

.home_hero_description span {
    display: inline-block;
    overflow: hidden;}

.home_hero_description span span {
    transform: translateY(110%);}

.home_hero_description .home_bio_offset {
    display: inline-block;
    transform: translateX(4rem);}

.home_hero_arrow_circle_c {
    position: relative;
    width: 10rem;
    height: 10rem;
    margin-top: 5.7rem;
    margin-left: 2rem;}

.home_hero_circle {
    position: absolute;
    width: 10rem;
    height: 10rem;}

.home_hero_circle path {
    stroke-dasharray: 311.5;
    stroke-dashoffset: 311.5
}

.home_hero_circle2 {
    position: absolute;
    width: 10rem;
    height: 10rem;}

.home_hero_circle2 path {
    stroke-dasharray: 311.5;
    stroke-dashoffset: 311.5
}

.home_hero_arrow {
    position: absolute;
    width: 2.9rem;
    height: 3.6rem;
    transform: translate(-50%, -45%);
    display: flex;
    justify-content: center;
    align-items: center
}

.home_about_glLineP {
    width: 134rem;
    height: 300px;
    position: absolute;
    top: -150px;
    left: 50%;
    transform: translateX(-50%);}

.home_about_glLineP .glLineP {
    width: 100%;
    height: 100%;
    visibility: hidden;}

.circAn {
    width: 100%;
    height: 100%;}